/* styles/globals.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #940b0b;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  button {
    background-color: #940b0b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2c2929;
  }
  